# Pandas

### What can we do with Pandas?
- It is used for reading and writing data in many formats.
- It intelligently grab data based on indexing, logic, subsetting and more.
- Handle missing data.
- Adjust and restructure data.

### Series

- It is a data structure in pandas that holds an array of information along with the named index.
- The named index differentiaties this from a simple Numpy array.
- Formal Definition: One-dimensional ndarray with axis labels.

In [1]:
import numpy as np
import pandas as pd

In [2]:
myindexx = ['USA', 'Canada', 'Mexico']
mydataa = [1776, 1867, 1821]

In [3]:
myser = pd.Series(data=mydataa, index=myindexx)

In [5]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [6]:
myser['USA']

np.int64(1776)

In [7]:
ages = {'Sam': 25, 'Frank': 30, 'Dan': 22, 'John': 35}

In [8]:
pd.Series(ages)

Sam      25
Frank    30
Dan      22
John     35
dtype: int64

In [10]:
# Imaginary sales data for 1st and 2nd quarters for global companies
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [11]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [12]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
sales_q2.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [15]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [16]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

### DataFrames

- A dataframe is a table of columns and rows in pandas that we can easily restructure and filter
- Formal Definition: A group of pandas series objects that share the same index.

In [17]:
np.random.seed(101)
mydata = np.random.randint(0, 101, (4, 3))
myindex = ['CA', 'NY', 'AZ', 'TX']
mycols = ['Jan', 'Feb', 'Mar']

In [18]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycols)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63